.requirements {
  background: #8997acad;
  padding: 0 15px 15px;
}

.header {
  font-size: 21px;
  font-weight: normal;
  background: #87a0cb;
  padding: 10px;
  margin: -15px -15px 15px;
}

.requirement {
  font-size: 16px;
  font-weight: normal;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.requirement + .requirement {
  border-top: 1px solid #525f90;
  padding-top: 15px;
}

.requirementName {
}

.requirementMet {
  margin-left: auto;
  width: 24px;
}
