.miniMap {
  position: relative;
  border: 1px solid white;
  width: 200px;
  height: 200px;
  opacity: 0;
  animation: fadein 1s ease-in forwards;
  animation-delay: 0.5s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.playerMarker {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -12px;
  left: -12px;
}

.rectangleMarker {
  position: absolute;
  border-width: 4px;
  border-style: solid;
}

.circleMarker {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
}

.playerMarkerImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
