.spaceshipFacts {
}

.spaceshipFact {
  display: flex;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
  align-items: center;
  border-bottom: 1px solid #6d7985;
  padding: 5px;
  padding-bottom: 16px;
}

.factName {
  text-transform: capitalize;
}

.factValue {
  margin-left: auto;
}

