.spaceshipPanel {
  position: relative;
  opacity: 0;
  animation: fadein 1s ease-in forwards;
  animation-delay: 0.5s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.equipmentButtons {
  position: absolute;
  top: 75px;
  bottom: 10px;
  left: 215px;
  right: 10px;
  display: flex;
  align-items: center;
}
.btnWrapper+.btnWrapper{
  margin-left: 10px;
}
.spaceshipContainer {
  position: absolute;
  top: 15px;
  bottom: 10px;
  left: 15px;
  width: 180px;
  display: flex;
  align-items: start;
}
