.grid {
  display: flex;
  color: #FFFFFF;
  max-height: 100%;
}

.mainColumn {
  padding-bottom: 20px;
}

.secondColumn {
  padding-left: 20px;
}

.mediumColumn {
  width: 50%;
  padding-bottom: 20px;
}
