:global(body.questPage)  {
  background-image: url('public/assets/images/quest_screen.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.carouselWrapper {
  margin-bottom: 15px;
}
.buttons {
  margin-top: auto;
  display: flex;
}

.buttons button + button {
  margin-left: auto;
}

.reward {
  text-align: center;
  margin-top: 20px;
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 40px;
}
