.spaceshipCard {
  display: flex;
  flex-direction: column;
  color: white;
}
.title {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
}
.body {
  flex: 1;
}

.imageWrapper {
  height: 100px;
}
.imageWrapper > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer {
  margin-top: 10px;
}
