.mainContainer {
  margin: auto;
  max-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
}

.mainContainerNormal {
  width: 90%;
}

.mainContainerSmall {
  max-width: 800px;
}

.header {
  flex: 0;
  text-align: center;
  color: #E5E5E5;
  font-size: 21px;
  background: rgba(149, 171, 224, 0.6797);
  padding: 10px;
  position: relative;
}

.money {
  position: absolute;
  right: 15px;
}

.main {
  flex: 1;
  overflow: auto;
  padding: 20px;
  border: 1px solid rgba(149, 171, 224, 0.6797);
  border-top: none;
  background: rgba(76, 88, 140, 0.41);
}
