:global(body.dockPage) {
  background-image: url('public/assets/images/dock_screen.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.carouselWrapper {
  margin-bottom: 15px;
}

.buttons {
  margin-top: auto;
  display: flex;
}

.buttons button + button {
  margin-left: auto;
}

.cost {
  text-align: center;
  margin-top: 15px;
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 40px;
  padding: 7px;
  border-radius: 2px;
}

.canBuy {
  background: rgba(83, 205, 80, 0.5);
}

.cannotBuy {
  background: rgba(150, 55, 61, 0.5);
}

.bought {
  background: transparent;
}

.spaceshipWrapper {
  margin: auto;
}
