:global(body.startPage) {
  background-color: #21242c;
  background-image: url('public/assets/images/starting_screen.jpg');
  background-position: 50% 30%;
  background-size: cover;
}

.logo {
  align-self: center;
  margin-top: auto;
}
.container {
  display: flex;
  margin-top: auto;
  flex-direction: column;
  padding-bottom: 20px;
  width: 800px;
}

.header {
  color: #FFFFFF;
  text-align: center;
  margin: 0 0 20px;
  font-size: 21px;
  font-weight: normal;
}
.buttons {
  display: flex;
}

.buttons > button+button {
  margin-left: auto;
}
