.currentQuest {
  color: white;
  padding: 15px;
  border: 1px solid rgba(149, 171, 224, 0.6797);
  border-radius: 4px;
  /*background-color: rgba(149, 171, 224, 0.6797);*/
  background-color: rgba(76, 88, 140, 0.41);
  line-height: 1.4;
}
.header {
  text-align: center;
  font-size: 21px;
  margin-bottom: 10px;
}
.body {
  text-align: justify;
  font-size: 14px;
  margin-bottom: 10px;
}
.footer {
  border-top: 1px solid rgba(149, 171, 224, 0.6797);
  padding-top: 10px;
  font-size: 16px;
}